.section1{
    min-width: var(--width-page);
    height: 778px;
}

.section1 .container-section1-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section1 .container-section1-img .section1-img{
    margin: 59px 57px 40px 68px;
}

.section1 .container-section1-subtitle{
    min-width: 288px;
    height: 52px;
    margin: 0 15px 0 17px;
}

.section1 .container-section1-subtitle .section1-subtitle{
    color: var(--warm-black);
    font-family: var(--font-sans);
    font-weight: var(--weight-700);
    font-size: var(--size-24);
    line-height: 26px;
    text-align: center;    
}

.section1 .container-section1-paragraph{
    min-width: 288px;
    height: 54px;
    margin: 24px 15px 0 17px;
}

.section1 .container-section1-paragraph .section1-paragraph{
    color: #757575;
    font-family: var(--font-sans);
    font-weight: var(--weight-500);
    font-size: var(--size-14);
    line-height: 18px;
    text-align: center; 
}

.section1 .container-section1-table{
    min-width: var(--width-page);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 0 16px 0;
}

.section1 .container-section1-table .section1-table .table-tr .table-th{
    padding: 10px 12px 10px 12px;
    min-width: 101px;
    height: 39px;
    color: var(--bitcoin-orange);
    font-family: var(--font-sans);
    font-weight: var(--weight-700);
    font-size: 18px;
    line-height: 23.44px;
}

.section1 .container-section1-table .section1-table .table-tr .table-td{
    padding: 10px 12px 10px 12px;
    min-width: 101px;
    height: 39px;
    color: #B5B0AC;
    font-family: var(--font-inter);
    font-weight: var(--weight-500);
    font-size: 16px;
    line-height: 19.36px;
}

.section1 .container-section1-table .section1-table .table-tr .table-td .img-trending{
    padding-left: 10.5px;
}

.section1 .container-section1-table .container-section-icon-right{
    margin-left: 22.59px;
}

.section1 .container-section1-date{
    width: 100%;
    text-align: center;
    margin-bottom: 65px;
}

.section1 .container-section1-date .second-container-section1-date{
    display: inline-block;    
}

.section1 .container-section1-date .section1-date{
    padding: 8px;
    background: var(--soft-orange);
    border-radius: 8px;
    font-family: var(--font-inter);
    font-weight: var(--weight-700);
    font-size: 16px;
    line-height: 19.36px;
}

.section1 .container-section1-date .section1-date .section-time{
    /* font-size: 12px; */
    font-weight: 400;
    line-height: 14.52px;
}